/* .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 100px;
        } */

.content {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
}

.democlass {
    width: 100%;
    width: fit-content;
    background-color: powderblue;
}

.tab {
    /* border: 10px sol id black; */
    /* background-color: black; */
    align-items: center;
    display: flex;
    justify-content: center;

}

.h {
    width: 180px;
    /* border: 10px solid black; */
    padding: 2rem;
}

.hov:hover {
    background-color: yellow;
    padding: 2rem;
}

@media(max-width: 1280px) {
    .h {
        width: 150px;
    }
}

@media(max-width: 1080px) {
    .h {
        width: 120px;
    }
}

@media(max-width: 900px) {
    .h {
        width: 90px;
    }
}

@media(max-width: 640px) {
    .h {
        width: 40px;
        padding: 1.5rem;
    }
}

@media(max-width: 350px) {
    .h {
        width: 40px;
        padding: 1rem;
    }
}